.accordion {
  border: none;
  margin-bottom: 0px;

}

.accordion:nth-child(odd) {
  background-color: #00354E;
}

.accordion:nth-child(even) {
  background-color: #89BF50;
 
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  height: 110px;
}



.accordion-content {
  padding: 10px;

}

.expanded {
  height: 481px;
  height: auto;
}

.accordion-header h3 {
  margin-left: 40px;
  /* left: 250px; */
  position: relative;
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 62.06px;
  /* 129.292% */
}

@media only screen and (max-width: 600px) {
  .accordion-header h3 {
    left: 20px;
    position: relative;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 62.06px; /* 155.15% */
    width: 100%;
  }
  .accord-icon {
    margin-right: 20px;
  }
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .accordion-header h3 {
    left: 86px;
    position: relative;
  }
  .accordion-content{
    margin-left: 81px;
    position: relative;
  }
  /* .accordion-content p{
    width: 1000px;
  } */
}