@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200;300;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200;300;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ol li{
  list-style: none;
}
.navbar-container {
  transition: background-color 0.3s ease;
}

.navbar-container .nav-link {
  color: var(--egestam-mattsson, #fff);
  /* Normal color */
}

.navbar-container .nav-link:hover {
  color: white;
  /* Color on hover */
}

.navbar-container .nav-link:visited {
  color: var(--egestam-mattsson, #fff);
  /* Color for visited links */
}

.navbar-container.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 99px;
  z-index: 1000;
}

.text-roboto {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  /* 190% */
}

.text-monteserrat {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  /* 190% */
}

.navbar-container.sticky img.logo {
  width: 119px;
  height: 61px;
  flex-shrink: 0;
  top: 19px;
  position: absolute;
  left: 160px;
}

/* Custom CSS for Header */
.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* Ensure the header appears above the banner */
}

/* Your existing styles... */


/* Custom CSS for Header */

/* Centering the brand and nav options */
.navbar-brand,
.navbar-nav {
  display: flex;
  align-items: center;
}

/* Centering the nav options */
.navbar-nav {
  justify-content: center;

}

.navbar-nav a {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
  /* 120% */
}

a.active {
  color: var(--egestam-mattsson, #89BF50);


}

/* Style for search and menu icons */
.navbar-nav .nav-link {
  margin-left: 45px;
}

/* Style for hamburger menu icon */
.navbar-toggler-icon {
  color: #fff;
  top: -21px;
  position: relative;
  /* Adjust the color as needed */
}

.navbar-toggler {
  border: none;
  outline: none;
}

img.logo {
  width: 266px;
  height: 167px;
  flex-shrink: 0;
  /* left: 170px; */
  left: 20;
  top: 38px;
  position: relative;
}


.banner-container {
  position: relative;
}

.i-pad-only {
  display: none;
}
.desktop-only {
  display: block;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 53, 78, 0.5) 72.4%);
}

.banner-container2 {
  position: relative;
}

.banner-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 53, 78, 0.5) 72.4%);
}

.banner-text {
  position: absolute;
  /* top: 50%; */
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  color: #fff;
  /* Text color */
  width: 1060px;
}

.banner-text h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px;
  /* 110% */
}

.banner-text span {
  color: #89BF50;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70.4px;
}

.banner-text p {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 140% */
  width: 808px;
  height: 142px;
  flex-shrink: 0;
  top: 20px;
  position: relative;
}


.banner-text2 {
  position: absolute;
  /* top: 50%; */
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  color: #fff;
  /* Text color */
  width: 1060px;
}

.banner-text2 h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 118.75% */
  /* 110% */
}

.banner-text2 span {
  color: #89BF50;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70.4px;
}

.banner-text2 p {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  width: 908px;
  top: 20px;
  position: relative;
}

img.logo{
  left: 40%;
  position: relative;
  width: 266px;
  height: auto;
}

.section1 {
  width: 100%;
  height: 526px;
  flex-shrink: 0;
  background: #CCC;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.section-header {
  display: flex;
  flex-direction: row;
}

.section1 h1 {
  color: #00354E;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  /* 62.5% */
  top: 24px;
  left: 14px;
  position: relative;
}

.section1 p {
  height: 300px;
  flex-shrink: 0;
  color: #00354E;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  /* 179.167% */
  top: 20px;
  position: relative;
}

.arrow {
  width: 73px;
  height: 73px;
}

.section3 {
  display: flex;
  width: 100%;
  height: 435px;
  padding: 49px 487px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgba(137, 191, 80, 0.14);
  flex-direction: column;
}

.section3 p {
  color: #00354E;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36.75px;
  /* 153.125% */

  width: 871px;

}

.section3 a {
  color: #00354E;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-decoration-line: underline;
}

.section4 {
  padding: 100px;
}

.section4 h2 {
  color: #00354E;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
  /* 131.25% */
}

.section4 p {
  color: #00354E;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.25px;
  /* 162.5% */
  top: 15px;
  position: relative;
}

.section4 img {
  left: 160px;
  position: relative;
  display: flex;
}

.section4 button {
  border: none;
  outline: none;
  width: 420.98px;
  height: 42.5px;
  flex-shrink: 0;
  border-radius: 54px;
  background: var(--egestam-mattsson, #89BF50);
  top: 37px;
  position: relative;
}

.section4 button span {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  /* 125% */
}

.section5 {
  padding: 100px;
}

.section5 h2 {
  color: #003A3A;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.56px;
  /* 67.833% */
}

.section5 h6 {
  color: #003A3A;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.56px;
}

.section5 p {
  color: #00354E;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23.94px;
  /* 119.7% */
  width: 575px;
  flex-shrink: 0;
  top: 7px;
  position: relative;
}

.section5-content {
  top: 37px;
  position: relative;
}

.section5 img.card2-im {
  width: 770px;
  height: 577px;
  flex-shrink: 0;
  top: 10px;
  position: relative;
}

.section6 {
  padding: 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.section6 h2 {
  color: #003A3A;
  font-family: Roboto;
  font-size: 47.238px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.06px;
  /* 131.377% */
}

.section6 img {
  width: 325px;
  height: 197px;
  flex-shrink: 0;
}

h6.place {
  color: #727272;
  font-family: Inter;
  font-size: 11.594px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.04px;
  /* 224.604% */
  text-transform: uppercase;
}

h6.date {
  color: #727272;
  font-family: Inter;
  font-size: 10.391px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.04px;
  /* 250.611% */
  text-transform: uppercase;
}

.title {
  color: #00354E;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  /* 118.75% */
  display: flex;
  width: 347px;
}

.card-content p {
  color: #00354E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  display: flex;
  width: 342px;
  max-height: 331px;
  top: 27px;
  position: relative;
}

.no-date {
  top: 67px;
  position: relative;
}

.second-p {
  font-size: 15px;
  top: -20px;
  position: relative;
}

.card-content p.more-text {
  top: -20px;
  position: relative;
}

.more-text {
  color: #003A3A;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.56px;
  width: 370.251px;

}

.more-arrow {
  color: #0000C8;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.56px;
  /* 150.4% */
  margin-top: 90px;
  left: -90px;
  position: relative;
}

.text {
  display: flex;
  justify-content: space-between;
  color: #003A3A;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 62.06px;
  /* 129.292% */
}

.section7 {
  padding: 100px;
}

.section-7-card img {
  width: 373px;
  height: 236px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.section-7-card p {
  color: #727272;
  font-family: Inter;
  font-size: 11.594px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.04px;
  /* 224.604% */
  text-transform: uppercase;
}

.section-7-card h6 {
  color: #003A3A;
  font-family: Inter;
  font-size: 22.859px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.88px;
  /* 148.211% */
  width: 391px;
  height: 57px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  width: 443px;
  top: 15px;
  position: relative;
}

.card-buttons button {
  /* width: 233px; */
  width: 50%;
  height: 30px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #00354E;
  background: #00354E;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  border: none;
  outline: none;

}

.section8 {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 53, 78, 0.40) 0%, rgba(0, 53, 78, 0.40) 100%), url('https://s3-alpha-sig.figma.com/img/83c0/0d34/3eb9d97829ce8cc799222abc530e9354?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Cqj1aawMJ1rq-GBArtI1bpawPRCIULJA6nEm1e7JAkTuyctp3dT0pKnBG8YytmESxBsEQHfp6PfW~SRDGXt0Y0PdTETnQcMnnmz5uhi2yLOcJjjFB5tFmZ0gp09mmAQy0eyMMx5SY4LQAtZ2T1XugNypHoC3sNYfepLKV5emKwnNUpPNuo6qLSI-DsmdznI6a9s8Z6e~uMEa7VV00lC5z1rvV~PLCNT5aI~nC3-RBnEeJuz7yuwLksrWQDPR1LW0Tt0RK8oq1Vmy3W4BqImWJYapk81V7m3QWWHYcyC-Sqpt6RpM9FJAtpRuXDsJy8NAJYkvPRTNt7BaZkVsDrb1NA__'), lightgray 0px -72.243px / 100% 122.682% no-repeat;
}

.background-image {
  background-image: url('https://s3-alpha-sig.figma.com/img/83c0/0d34/3eb9d97829ce8cc799222abc530e9354?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Cqj1aawMJ1rq-GBArtI1bpawPRCIULJA6nEm1e7JAkTuyctp3dT0pKnBG8YytmESxBsEQHfp6PfW~SRDGXt0Y0PdTETnQcMnnmz5uhi2yLOcJjjFB5tFmZ0gp09mmAQy0eyMMx5SY4LQAtZ2T1XugNypHoC3sNYfepLKV5emKwnNUpPNuo6qLSI-DsmdznI6a9s8Z6e~uMEa7VV00lC5z1rvV~PLCNT5aI~nC3-RBnEeJuz7yuwLksrWQDPR1LW0Tt0RK8oq1Vmy3W4BqImWJYapk81V7m3QWWHYcyC-Sqpt6RpM9FJAtpRuXDsJy8NAJYkvPRTNt7BaZkVsDrb1NA__');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section8 p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  display: flex;
  width: 789px;
  height: 255px;
  left: 10px;
  position: relative;
}

.section8 img {
  left: -50px;
  position: relative;
}

footer {
  border: 1px solid var(--egestam-mattsson, #89BF50);
  background: var(--egestam-mattsson, #89BF50);
  height: 498.39px;
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.accord-icon {
  margin-right: 70px;
}

.accordion-content p {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  /* 135% */
}

.accordion-content button {
  border-radius: 54px;
  background: #FFF;
  width: 242px;
  /* height: 21px; */
  padding: 9px 0px 13px 2px;
  /* padding: 8px; */
  color: #00354E;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  /* 125% */
  border: none;

}

/* .section9{
  background-image: url('https://s3-alpha-sig.figma.com/img/698e/e33c/9bf21d51128973a1d4f90eae1f2d148f?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UL8mn4B9nl0sXAYF1vwYy5URWPzGIiTCC5abBtE4-YW~bUTzCYwS5R5Wfq3F4j8~4ifUpnjbP6~Nw~paxyAwWmo6kmMrY2tdPXB56UkabYo3d~sbfozmQquvkNP8-LGogo~F~yj6VA8zdSizVFHX68H~-JgzKKBuZ7uAuJy3FOVbdunkcmqW8BX8GuPzpWQ-~GibodP2gixxCJMJZHsEvwq6xiz-1mjwOLkQW3Sael3aqgzNdgnP6wFRCcKebtSEgo91zUgnnaoWtvfpVSiUYm3Ol03UuSx2mf2eaie5N44YRAByWR8gGa7mQh8ULj642UA0-O9JCy2U8G3vOEV05g__');
  background-position: center;
  background-size: cover;
  padding: 107px 58px 38px 120px;
  height: 637px;
 
} */

/* .section9 {
  position: relative;

  background-image: url('https://s3-alpha-sig.figma.com/img/698e/e33c/9bf21d51128973a1d4f90eae1f2d148f?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UL8mn4B9nl0sXAYF1vwYy5URWPzGIiTCC5abBtE4-YW~bUTzCYwS5R5Wfq3F4j8~4ifUpnjbP6~Nw~paxyAwWmo6kmMrY2tdPXB56UkabYo3d~sbfozmQquvkNP8-LGogo~F~yj6VA8zdSizVFHX68H~-JgzKKBuZ7uAuJy3FOVbdunkcmqW8BX8GuPzpWQ-~GibodP2gixxCJMJZHsEvwq6xiz-1mjwOLkQW3Sael3aqgzNdgnP6wFRCcKebtSEgo91zUgnnaoWtvfpVSiUYm3Ol03UuSx2mf2eaie5N44YRAByWR8gGa7mQh8ULj642UA0-O9JCy2U8G3vOEV05g__');
  background-position: center;
  background-size: cover;
  padding: 107px 58px 38px 120px;
  height: auto;
  background: linear-gradient(0deg, rgba(0, 53, 78, 0.40) 0%, rgba(0, 53, 78, 0.40) 100%), url('https://s3-alpha-sig.figma.com/img/698e/e33c/9bf21d51128973a1d4f90eae1f2d148f?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UL8mn4B9nl0sXAYF1vwYy5URWPzGIiTCC5abBtE4-YW~bUTzCYwS5R5Wfq3F4j8~4ifUpnjbP6~Nw~paxyAwWmo6kmMrY2tdPXB56UkabYo3d~sbfozmQquvkNP8-LGogo~F~yj6VA8zdSizVFHX68H~-JgzKKBuZ7uAuJy3FOVbdunkcmqW8BX8GuPzpWQ-~GibodP2gixxCJMJZHsEvwq6xiz-1mjwOLkQW3Sael3aqgzNdgnP6wFRCcKebtSEgo91zUgnnaoWtvfpVSiUYm3Ol03UuSx2mf2eaie5N44YRAByWR8gGa7mQh8ULj642UA0-O9JCy2U8G3vOEV05g__'), lightgray 0px -72.243px / 100% 122.682% no-repeat;
} */

/* .section9 {
  position: relative;
  background: linear-gradient(rgba(0, 53, 78, 0.4), rgba(0, 53, 78, 0.4)),
              url('https://s3-alpha-sig.figma.com/img/698e/e33c/9bf21d51128973a1d4f90eae1f2d148f?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UL8mn4B9nl0sXAYF1vwYy5URWPzGIiTCC5abBtE4-YW~bUTzCYwS5R5Wfq3F4j8~4ifUpnjbP6~Nw~paxyAwWmo6kmMrY2tdPXB56UkabYo3d~sbfozmQquvkNP8-LGogo~F~yj6VA8zdSizVFHX68H~-JgzKKBuZ7uAuJy3FOVbdunkcmqW8BX8GuPzpWQ-~GibodP2gixxCJMJZHsEvwq6xiz-1mjwOLkQW3Sael3aqgzNdgnP6wFRCcKebtSEgo91zUgnnaoWtvfpVSiUYm3Ol03UuSx2mf2eaie5N44YRAByWR8gGa7mQh8ULj642UA0-O9JCy2U8G3vOEV05g__');
  background-position: center;
  background-size: cover;
  padding: 107px 58px 38px 120px;
  height: auto;
} */

.section9 {
  position: relative;
  background: linear-gradient(rgba(0, 53, 78, 0.8), rgba(0, 53, 78, 0.8)),
    url('https://s3-alpha-sig.figma.com/img/698e/e33c/9bf21d51128973a1d4f90eae1f2d148f?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UL8mn4B9nl0sXAYF1vwYy5URWPzGIiTCC5abBtE4-YW~bUTzCYwS5R5Wfq3F4j8~4ifUpnjbP6~Nw~paxyAwWmo6kmMrY2tdPXB56UkabYo3d~sbfozmQquvkNP8-LGogo~F~yj6VA8zdSizVFHX68H~-JgzKKBuZ7uAuJy3FOVbdunkcmqW8BX8GuPzpWQ-~GibodP2gixxCJMJZHsEvwq6xiz-1mjwOLkQW3Sael3aqgzNdgnP6wFRCcKebtSEgo91zUgnnaoWtvfpVSiUYm3Ol03UuSx2mf2eaie5N44YRAByWR8gGa7mQh8ULj642UA0-O9JCy2U8G3vOEV05g__');
  background-position: center;
  background-size: cover;
  padding: 107px 58px 38px 120px;
  height: auto;
}

.position-relative {
  position: relative;
  fill: rgba(0, 0, 0, 0.60);
  top: 8px;

}

.dark-overlay {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 770px;
  height: 577px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  z-index: 999;
}

.card2-im {
  width: 100%;
  height: auto;
  display: block;
}

.card-image-content {
  position: absolute;
  /* top: 50%; */
  top: 35%;
  left: 39%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  /* Adjust text color */
  z-index: 999;
  /* Ensure the text appears above the overlay */
  padding: 20px;
  /* Adjust padding as needed */

}

.card-image-content h2 {
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  /* 87.5% */
  z-index: 999;
  visibility: inherit;
  /* margin-left: 40px; */
  position: relative;
}

.card-image-content p {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
  width: 665px;
  /* margin-left: 40px; */
  top: 20px;
  position: relative;
}

.card-image-content button {
  display: flex;
  width: 268.28px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 13.28px;
  border: none;
  outline: none;
  /* margin-left: 40px; */
  top: 40px;
  position: relative;
  border-radius: 48px;
  border: 1px solid #00354E;
  color: white;
  background: #00354E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

img.card2-im{
  width: 770px;
height: 577px;
flex-shrink: 0;
}

/* .section5 img.card2-im{
  width: 500px;
} */
/* Media query for mobile layout */
@media (max-width: 768px) {

  /* Move the search and menu icons to the right side */
  .navbar-nav.ml-auto {
    margin-left: auto;
  }

  /* Align search and menu icons vertically */
  .navbar-nav.align-items-center {
    align-items: center;
  }

  img.logo {
    width: 120px;
    /* width: 350px; */
    /* In figma */
    height: 69px;
    flex-shrink: 0;
    left: 19px;
    top: 14px;
    position: absolute;
  }
.section1{
  top: -13px;
    position: relative;
}
  .navbar-container.sticky img.logo {
    left: 10px;
    position: absolute;
  }

  .banner-text {
    width: 390px;
    height: 218px;
  }

  .banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    text-transform: uppercase;
  }

  .banner-text span {
    font-size: 20px;
  }

  .banner-text p {
    width: 284px;
    height: 142px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    /* 141.667% */
    display: flex;
    justify-content: center;
  }

  .section1 {
    background-color: #FFF;
  }

  .section1 h1 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 138.889% */
    top: 4px;
    position: relative;
  }

  .arrow {
    width: 30.86px;
    height: 30.86px;
    flex-shrink: 0;
  }

  .section1 p {
    color: #00354E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    width: 343px;
    height: 300px;
    flex-shrink: 0;
  }

  .section1-btn-div {
    display: flex;
    justify-content: center;
  }

  .section-1-btn {
    display: flex;
    width: 244px;
    height: 43px;
    padding: 9px 0px 13px 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 54px;
    background: #00354E;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px;
    /* 125% */
    outline: none;
    border: none;
  }

  .section3 {
    display: flex;
    width: 100%;
    height: 432px;
    padding: 49px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--egestam-mattsson, #89BF50);
    background: rgba(137, 191, 80, 0.14);
  }

  .section3 p {
    display: flex;
    width: 348px;
    height: 294px;
    color: #00354E;
    
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.75px;
    /* 153.125% */
  }

  .section3 a {
    color: #00354E;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
  }

  .section4 {
    padding: 0;
    margin-top: 44px;
  }

  .section4 h2 {
    color: #00354E;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    /* 137.5% */
    display: flex;
    width: 309px;
  }

  .section4 button {
    width: 360px;
    height: 58px;
    flex-shrink: 0;
  }

  .section4 img {
    width: 279px;
    height: 144px;
    flex-shrink: 0;
    left: 0;
    position: relative;
  }

  .section4 p {
    color: #00354E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 144.444% */
    display: flex;
    width: 318px;
  }

  .section5 {
    display: flex;
    justify-content: left;
    padding: 0;
    margin-top: 70px;
  }

  .section5 img {
    width: 323px;
    height: 266.538px;
    flex-shrink: 0;
    left: 0;
    position: relative;
  }

  .section5 h2 {
    color: #003A3A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.56px;
    /* 162.8% */
  }

  .section5 h6 {
    color: #003A3A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.56px;
    display: flex;
    width: 333px;

  }

  .section5 p {
    color: #00354E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 23.94px;
    /* 119.7% */
    display: flex;
    width: 333px;
    height: 278px;
  }

  .section5 img.card2-im {
    width: 100%;
    height: 415.8px;
    margin-top: 20px;
  }

  .section6 {
    padding: 0;
    margin-top: 30px;
  }

  .section6 h2 {
    color: #003A3A;
    text-align: left;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 62.06px;
    /* 172.389% */
    top: 20px;
    position: relative;
  }

  .place {
    color: #727272;
    font-family: Inter;
    font-size: 11.594px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.04px;
    /* 224.604% */
    text-transform: uppercase;
  }

  .date {
    color: #727272;
    font-family: Inter;
    font-size: 10.391px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.04px;
    /* 250.611% */
    text-transform: uppercase;
  }

  .title {
    color: #003A3A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.56px;
    /* 162.8% */
    display: flex;
    width: 322px;
  }

  .card-content p {
    color: #00354E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
  }

  .more-arrow {
    top: -44px;
    left: -40px;
    position: relative;
  }

  .card-sm {
    margin-top: 30px;
  }

  .card-content:nth-of-type(3) {
    top: -60px;
    position: relative;
  }

  .section7 {
    padding: 0px;
    margin-top: 30px;
  }

  .card-buttons {
    display: flex;
    flex-direction: column;
  }

  .accordion-header h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 62.06px;
    /* 155.15% */
  }

  .accord-icon {
    margin-right: 20px;
    float: right;
  }

  .footer {
    /* display: flex;
    align-content: center;
    align-items: center; */
  }

  .footer-content h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px;
    /* 120% */
  }
}


@media only screen and (min-width: 1000px) and (max-width: 1398px) {
  .section4 img {
    width: 469px;
    height: 269.722px;
    flex-shrink: 0;
    left: 10px;
    position: relative;
  }

  .ipad-block {
    display: none;
  }

  .section5 {

    display: flex;
    flex-direction: column;
  }

  .section5 img {
    width: 500px;
  }

  .section5 img.card2-im {
    width: 550px;

  }

  .dark-overlay {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 550px;
    height: 577px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .section5 p {
    width: 500px;
  }

  img.footer-image {
    top: -49px;
    left: -100px;
    position: relative;
  }

  img.logo {
    width: 184.329px;
    height: 116px;
    flex-shrink: 0;
    left: 60px;
    position: relative;
  }

  .navbar-nav a {
    font-size: 20px;
  }

  .banner-text {
    width: 800px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-text h1 {
    font-size: 50px;
  }

  .banner-text span {
    font-size: 50px;
  }

  /* .i-pad-only {
    display: none;

  } */
  .desktop-only {
    display: block;
  }
}

.footer h4 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px;
  /* 120% */
}

/* .footer ul li {
  list-style: none;
} */

.footer ul {
  left: -30px;
  position: relative;
}

.text-roboto {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
 
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 99px;
    z-index: 1000;
  }

  .navbar-container.sticky img.logo {
    width: 119px;
    height: 61px;
    flex-shrink: 0;
    top: 19px;
    position: absolute;
    left: 40px;
  }

  img.logo {
    width: 182.74px;
    height: 115px;
    flex-shrink: 0;
    left: 66px;
    position: absolute;
  }

  .ipad-block {
    display: none;
  }

  .navbar-nav {
    top: 60px;
    position: relative;

  }

  .navbar-container.sticky .navbar-nav {
    top: 0px;
    position: relative;
    left: 45px;
  }

  /* button.navbar-toggler {
    top: 55px;
    right: 66px;
    position: absolute;
    border: none;
    outline: none;
    color: white;
  } */
  @media (max-width: 1024px) {

    .navbar-container,
    .offcanvas {
      max-width: 100vw;
    }
  }

  .banner-text {
    display: flex;
    width: 781px;
    flex-direction: column;
  }

  .banner-text p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 140% */
    width: 808px;
    height: 142px;
    flex-shrink: 0;
  }
  
  .arrow {
    width: 58px;
    height: 58px;
    top: 7px;
    position: relative;
  }

  .section1 {
    width: 100%;
    /* height: 331px; In figma */
    /* height: auto; */
    flex-shrink: 0;
    height: 331px;
    top: 0px;
    position: relative;
  }

  .section1 .container {
    top: 50px;
    position: relative;
  }

  .section1 h1 {
    color: #00354E;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 78.125% */
  }

  .section1 p {
    color: #00354E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    /* 155% */
    width: 631px;
    /* height: 300px; */
    flex-shrink: 0;
    left: 97px;
    position: relative;
  }

  .section3 p {

    display: flex;
    width: 600px;
    height: 294px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

  }

  .section3 {
    padding: 0;
    height: 337px;
  }

  .banner-container {
    height: 854px;
    height: 1024px;
  }

  /* .section4{
    display: none;
  } */
  /* .section5{
    display: none;
  } */
  .section6 {
    margin-top: 120px;
    padding: 100px;
  }

  .section7 {
    display: none;
  }

  .section9 {
    /* display: none; */
  }

  /* footer {
    display: none;
  } */

  .desktop-only {
    display: block;
  }

  .i-pad-only {
    display: block;
    position: relative;
    width: 100%;
    /* Adjust as needed */
    height: 300px;
    /* Adjust as needed */
    background-image: url('https://s3-alpha-sig.figma.com/img/ec6b/e842/7ccfd23a9f3bc48ec821a5819b15fe97?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TtnB1gTM1BsKSsIDOOfafD6CQZGBRTr9F8IlozL~We5iYWYZXbYe4LigH3auBBTY8fhNenqnP3sSBwRD6SqjZvZOj3RDPlMyKRrEyx78K3nj5IgvVGOtmI49cDKpaxlq5~Ij9vh-rrq9A9NjC6QGZ~zFc~~sosDk286cJKIeGHbvYym63~s90Z3JdhtRgvu520DxAoqgiAHfHzcVXAsn9oadJfkQFGR6QO7jxgwoC-GnNtHOSBOQ4CPZ3in4GRJItFw84TBFZ~HRQmUVfPylQlKbIaJ5mEfGXVm8y2DqcQrKUQoDe8A0BvPUaoN4QaQpYnfzMuzORv2E0RRZSSxF6w__');
    background-size: cover;
    background-position: center;
    height: 433px;
    width: 100%;
    /* top: -199px;
    position: relative; */
  }

  .overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust opacity as needed */
  }

  .text-over-image {
    position: absolute;
    left: 92px;
    /* Adjust distance from left edge */
    top: 50%;
    /* Adjust vertical alignment */
    transform: translateY(-50%);

  }

  .text-over-image h2 {
    display: flex;
    width: 610.64px;
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px;
    /* 131.25% */
  }

  .text-over-image p {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.25px;
    /* 162.5% */
    display: flex;
    width: 625px;
    height: 126px;
  }

  .text-over-image button {
    border: none;
    outline: none;
    width: 420.98px;
    height: 42.5px;
    flex-shrink: 0;
    border-radius: 54px;
    background: var(--egestam-mattsson, #89BF50);
    top: 22px;
    position: relative;
  }

  .text-over-image button span {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px;
    /* 125% */
  }

  .section7 {
    display: none;
  }

  footer h3 {
    font-size: 24px;
  }

  .section3 a {
    top: -66px;
    position: relative;
  }

  /* Regular styles */
  .card2-im {
    position: relative;
    width: 100%;
    border-radius: 28px;
  }

  .image-container {
    left: -35px;
    position: relative;
    /* Ensure image container is a positioned ancestor */
  }

  .image-content_ {
    position: absolute;
    top: 50%;
    /* Place content at the vertical center */
    left: 103%;
    /* Place content at the horizontal center */
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    color: white;
    /* Text color */
    z-index: 999;
    /* Ensure content is above the dark overlay */
  }
  .image-content_ button{
    width: 268.28px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 13.28px;
  border-radius: 48px;
  border: 1px solid #00354E;
  background: #00354E;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  top: 20px;
  position: relative;
  }

  /* Dark overlay */
  .card2-im::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay color */
  }

  /* Ensure content is above the dark overlay */
  .image-content_ h2,
  .image-content_ p {
    position: relative;
  }

  .section5 img.card2-im {
    width: 762px;
    /* width: 550px; */
    height: 361px;
    /* height: 577px; */
    flex-shrink: 0;
  }
  .dark-overlay{
    width: 762px;
    height: 361px;
    left: 4px;
    border-radius: 28px;
  }
  .card1 {
    left: -50px;
    position: relative;
  }

  .image-content_ h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 87.5% */
  }

  .image-content_ p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
  }

  .ipad-cards {
    top: 138px;
    position: relative;
  }

  .ipad-card img {
    width: 363px;
    height: 191px;
    flex-shrink: 0;
  }

  .ipad-card-content {
    top: 50px;
    position: relative;
  }

  .ipad-card-content h2 {
    color: #003A3A;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.56px;
    /* 101.75% */
  }

  .ipad-card-content h6 {
    color: #003A3A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.56px;
  }

  .ipad-card-content p {
    width: 391px;
    height: 131px;
    flex-shrink: 0;
    color: #00354E;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 23.94px;
    /* 171% */
  }

  .ipad-card:nth-of-type(2) {
    margin-left: 40px;
  }

  .ipad-card-content-btns {
    border: none;
    outline: none;
    flex-direction: column;
    display: flex;
  }

  .ipad-card-content-btns button {
    border: none;
    width: 100%;
    height: 38px;
    flex-shrink: 0;
    border-radius: 48px;
    border: 1px solid #00354E;
    background: #00354E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    margin-top: 10px;
  }

  .section9 {
    width: 100%;
    height: 431px;
    flex-shrink: 0;
  }

  footer {
    width: 100%;
    padding: 0;
  }

  .overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .odd-card{
    left: -40px;
    position: relative;
  }
  .even-card{
    left: 40px;
    position: relative;
  }
}

.offcanvas {
  background-color: #89BF50;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* iPad Pro (portrait and landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
  .section1 p {
    color: #00354E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    /* 155% */
    width: 693px;
    height: 300px;
    flex-shrink: 0;
    left: 97px;
    position: relative;
  }

  .ipad-block {
    display: none;
  }
  .card-sm{
    margin-top: 40px;
  }
}

/* Responsivensss for ipad air */
/* @media only screen and (min-device-width: 820px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) { */
  @media only screen and (min-device-width: 769px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .section1{
    background: #CCC;
    padding: 0;
    height: 331px;
    
  }
  .section1 .container {
    top: 60px;
    position: relative;
  }
  /* .section-1-btn{
    top: -132px;
    position: relative;
  } */
  .section-1-btn{
    display: none;
  }
  .arrow{
    width: 58px;
    height: 58px;
  }
  .section1 h1{
    color: #00354E;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 78.125% */
width: 738px;
    top: 16px;
    position: relative;
  }
  .section1 p{
    width: 618px;
height: 300px;
flex-shrink: 0;
  }
  .section3 {
    padding: 0;
    height: 337px;
    background: rgba(137, 191, 80, 0.14);
}
.section3 p {
  display: flex;
  width: 600px;
  height: 294px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #00354E;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36.75px; /* 153.125% */
}
.section3 a {
  color: #00354E;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.section3 a {
  top: -66px;
  position: relative;
}
.desktop-only {
  display: none;
}

.i-pad-only {
  display: block;
  position: relative;
  width: 100%;
  /* Adjust as needed */
  height: 300px;
  /* Adjust as needed */
  background-image: url('https://s3-alpha-sig.figma.com/img/ec6b/e842/7ccfd23a9f3bc48ec821a5819b15fe97?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TtnB1gTM1BsKSsIDOOfafD6CQZGBRTr9F8IlozL~We5iYWYZXbYe4LigH3auBBTY8fhNenqnP3sSBwRD6SqjZvZOj3RDPlMyKRrEyx78K3nj5IgvVGOtmI49cDKpaxlq5~Ij9vh-rrq9A9NjC6QGZ~zFc~~sosDk286cJKIeGHbvYym63~s90Z3JdhtRgvu520DxAoqgiAHfHzcVXAsn9oadJfkQFGR6QO7jxgwoC-GnNtHOSBOQ4CPZ3in4GRJItFw84TBFZ~HRQmUVfPylQlKbIaJ5mEfGXVm8y2DqcQrKUQoDe8A0BvPUaoN4QaQpYnfzMuzORv2E0RRZSSxF6w__');
  background-size: cover;
  background-position: center;
  height: 433px;
  width: 100%;
  /* top: -199px;
  position: relative; */
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust opacity as needed */
}

.text-over-image {
  position: absolute;
  left: 92px;
  /* Adjust distance from left edge */
  top: 50%;
  /* Adjust vertical alignment */
  transform: translateY(-50%);

}

.text-over-image h2 {
  display: flex;
  width: 610.64px;
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
  /* 131.25% */
}

.text-over-image p {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.25px;
  /* 162.5% */
  display: flex;
  width: 625px;
  height: 126px;
}

.text-over-image button {
  border: none;
  outline: none;
  width: 420.98px;
  height: 42.5px;
  flex-shrink: 0;
  border-radius: 54px;
  background: var(--egestam-mattsson, #89BF50);
  top: 22px;
  position: relative;
}

.text-over-image button span {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  /* 125% */
}
.section5{
  padding: 0;
}
.ipad-cards{
  display: flex;
  justify-content: space-between;
}
.section6{
  margin-top: 120px;
    /* padding: 100px; */
    left: -60px;
    position: relative;
}
.section6 img{
  width: 300px;
}
.title{
  width: 300px;
}
.card-content p{
  width: 300px;
  height: 331px;
}
.card-sm:nth-child(2),
.card-sm:nth-child(4) {
  margin-left: 30px;
  left: 50px;
  position: relative;
}
.more-text{
  width: 300px;
}
.even-card{
  margin-left: 76px;
}
.card-sm{
  margin-top: 40px;
}

.image-container {
  position: relative;
  text-align: center;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 700px;
  height: auto;
  border-radius: 28px;
}

.image-content_ {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the darkness */
  color: white;
  padding: 20px;
  z-index: 999;
    width: 100%;
    height: 96%;
    border-radius: 28px;
  
}

.image-content_ h2,
.image-content_ p {
  margin: 0;
  color: white;
  display: flex;
  justify-content: left;
  top: 40px;
  position: relative;
}
.image-content_ h2{
  color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 87.5% */
}
.image-content_ p{
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
width: 600px;
display: flex;
justify-content: left;
top: 40px;
position: relative;
}
.ipad-cards{
  left: -60px;
  position: relative;
margin-top: 100px;
}
.section5 img{
  width: 300px;
  height: 200px;
}
.section5 p{
  width: 300px;
}
.ipad-air{
  left: 40px;
  position: relative;
}
.section5 p{
  color: #00354E;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 23.94px; /* 171% */
}
.section5 h6{
  color: #003A3A;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32.56px;
width: 300px;
}
.ipad-card-content-btns button {
  border: none;
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #00354E;
  background: #00354E;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
}
.image-content_ p{
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
top: 20px;
position: relative;
margin-top: 40px;
}
/* If you want to make the overlay darker, you can adjust the alpha value in the rgba color */


}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .section3 {
    padding: 0;
    background: rgba(137, 191, 80, 0.14);
    height: 376px;
  }

  .ipad-block {
    display: none;
  }

  .section3 {
    display: flex;
    width: 100%;
    height: 337px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(137, 191, 80, 0.14);
    flex-direction: column;
  }

  .section3 p {
    color: #00354E;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.75px;


    width: 700px;

  }

  .section3 a {
    color: #00354E;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    text-decoration-line: underline;
  }

  .i-pad-only {
    display: block;
    position: relative;
    width: 100%;

    height: 300px;

    background-image: url('https://s3-alpha-sig.figma.com/img/ec6b/e842/7ccfd23a9f3bc48ec821a5819b15fe97?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TtnB1gTM1BsKSsIDOOfafD6CQZGBRTr9F8IlozL~We5iYWYZXbYe4LigH3auBBTY8fhNenqnP3sSBwRD6SqjZvZOj3RDPlMyKRrEyx78K3nj5IgvVGOtmI49cDKpaxlq5~Ij9vh-rrq9A9NjC6QGZ~zFc~~sosDk286cJKIeGHbvYym63~s90Z3JdhtRgvu520DxAoqgiAHfHzcVXAsn9oadJfkQFGR6QO7jxgwoC-GnNtHOSBOQ4CPZ3in4GRJItFw84TBFZ~HRQmUVfPylQlKbIaJ5mEfGXVm8y2DqcQrKUQoDe8A0BvPUaoN4QaQpYnfzMuzORv2E0RRZSSxF6w__');
    background-size: cover;
    background-position: center;
    height: 433px;
    width: 100%;

  }

  .overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

  }

  .text-over-image {
    position: absolute;
    left: 92px;

    top: 50%;

    transform: translateY(-50%);

  }

  .text-over-image h2 {
    display: flex;
    width: 610.64px;
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px;

  }

  .text-over-image p {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.25px;

    display: flex;
    width: 625px;
    height: 126px;
  }

  .text-over-image button {
    border: none;
    outline: none;
    width: 420.98px;
    height: 42.5px;
    flex-shrink: 0;
    border-radius: 54px;
    background: var(--egestam-mattsson, #89BF50);
    top: 22px;
    position: relative;
  }

  .text-over-image button span {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px;

  }

  img.logo {
    width: 182.74px;
    height: 115px;
    flex-shrink: 0;
    left: 66px;
    position: absolute;
  }

  .navbar-toggler {
    top: 55px;
    position: relative;
    outline: none;
    border: none;
  }

  button {
    border: none;
    outline: none;
  }

  .banner-text h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    width: 781px;

  }

  .banner-container {
    height: 854px;
  }

  .banner-text {
    left: 50%;
    position: absolute;
    flex-direction: column;
    width: 700px;
  }

  .banner-text h1,
  .banner-text span {
    font-size: 50px;
  }

  .banner-text p {
    width: 700px;
    height: 142px;
    flex-shrink: 0;
    font-size: 15px;
  }

  .navbar-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 99px;
    z-index: 1000;
  }

  .navbar-container.sticky img.logo {
    width: 119px;
    height: 61px;
    flex-shrink: 0;
    top: 19px;
    position: absolute;
    left: 40px;
  }

  .navbar-container.sticky .navbar-toggler {
    width: 119px;
    height: 61px;
    flex-shrink: 0;
    top: 10px;
    position: relative;
    left: 0px;
  }

  .section5 {}

  .image-container {}

  .image-container img {
    width: 585px;
    height: 380px;
    display: flex;
    justify-content: center;
  }
} */

@media (min-width: 1369px) {
  .ipad-block{
    display: block;
  }
}

@media only screen and (min-device-width: 1399px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .desktop-only{
    display: block;
  }
}
/* @media (min-width: 1400px) { */
@media only screen and (min-device-width: 1400px) and (max-device-width: 1900px) and (-webkit-min-device-pixel-ratio: 1){
  .desktop-only{
    display: block;
  }
  .section5 {

    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  .section5 img {
    width: 500px;
  }
  .image-container{
   
    left: 140px;
    position: relative;
  }
  .section5 img.card2-im {
    width: 921px;
    border-radius: 28px;
  }

  .dark-overlay {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 921px;
    height: 577px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    border-radius: 28px;
  }

  .section5 p {
    width: 500px;
  }

  .image-content_ {
    position: absolute;
    top: 50%;
    /* Place content at the vertical center */
    left: 80%;
    /* Place content at the horizontal center */
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    color: white;
    /* Text color */
    z-index: 999;
    
    /* Ensure content is above the dark overlay */
  }

  /* Dark overlay */
  .card2-im::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 53, 78, 0.6); 
    /* Dark overlay color */
  }

  /* Ensure content is above the dark overlay */
  .image-content_ h2,
  .image-content_ p {
    position: relative;
  }

  .image-content_ h2{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 87.5% */
  }
  .image-content_ p {
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
width: 665px;
height: 191px;
top: 30px;
position: relative;
  }
.image-content_ button{
  width: 268.28px;
padding: 9px 17px;
justify-content: center;
align-items: center;
gap: 13.28px;
border-radius: 48px;
border: 1px solid #00354E;
background: #00354E;
border: none;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
top: -20px;
position: relative;
}
.ipad-cards{
  margin-top: 200px;
}
.card1 img{
  width: 558px;
height: 255px;
flex-shrink: 0;
}
.ipad-card-content{
  margin-top: 35px;
}
.ipad-air {
  top: 60px;
  position: relative;
}
.ipad-air img{
  width: 499px;
}
.ipad-air h2{
  display: none;
}
.ipad-card-content-btns{
  display: flex;
  flex-direction: column;
}
.ipad-card-content-btns button{
  border: none;
  outline: none;
  margin-top: 20px;
  width: 233px;
height: 38px;
flex-shrink: 0;
border-radius: 48px;
border: 1px solid #00354E;
background: #00354E;
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}
.section4 img{
  left: 100px;
  position: relative;
}
.odd-card{
  left: 40px;
  position: relative;
}
.section6 h2{
  left: 42px;
  position: relative;
}
.more-arrow{
  left: -260px;
  position: relative;
}
}

@media only screen and (min-device-width: 1251px) and (max-device-width: 1398px) and (-webkit-min-device-pixel-ratio: 1){
  .desktop-only {
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .section9{
    height: 840px;
  }
  .div-5{
    color: white;
  }
  .column-2 img{
    top: -150px;
    position: relative;
  }
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-box {
  width: calc(33.33% - 10px); /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.15);
  width: 410px;
height: 412px;
flex-shrink: 0;
  box-sizing: border-box;
  margin-top: 80px;
}

.card-date{
  font-size: 20px;
  font-family:Inter;
  color: gray;
}

.card-box h2{
  color: #003A3A;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 125% */

}
.card-box p{
  color: #003A3A;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.card-box button{
  border: none;
  outline: none;
  display: inline-flex;
padding: 10px 19px 10px 38px;
justify-content: flex-end;
align-items: center;
gap: 21.143px;
border-radius: 54px;
border: 1px solid #00354E;
background: transparent;
}

/* .card-select{
  display: flex;
width: 152px;
height: 48.25px;
padding: 16.625px 7.75px 16.625px 129.25px;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
} */

.card-select{
  color: #00354E;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22.5px; /* 125% */
width: 152px;
height: 48.25px;
/* padding: 16.625px 7.75px 16.625px 129.25px; */
border-radius: 28px;
background: transparent;
outline: none;
}

@media screen and (max-width: 1200px) {
  .card-box {
    width: calc(50% - 10px); /* Adjust as needed */
  }
}

@media screen and (max-width: 768px) {
  .card-box {
    width: 100%;
  }
}
.news-details-content{
  top: -170px;
  position: relative;
}
.news-details h4{
  color: #00354E;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 46px; /* 191.667% */
width: 1188px;
height: 293px;
flex-shrink: 0;
}
.news-details{
  margin-top: 45px;
}
.news-details ul li{
  list-style: none;
}
.news-details ul{
  margin-left: -30px;
  margin-top: 50px;
}
ul li h5{
  color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 29.25px; /* 146.25% */
}
ul li p{
  color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 29.25px;
width: 1178px;

}